/* *{
    padding: 0;
    margin: 0;
}*/

body {
    background-image: url(inters.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  main{
    background-color: rgba(255, 255, 255, 0.562);
    width: 1300px;
   
   margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    padding-left: 5px;
    padding-bottom: 5px;
   
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

h2{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
padding: 2em;
color: red;

} 

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
   font-size: 17px;
  }

  .Ori{
    font-size: 20px;
    margin-top: 10px;
  }

  .neil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

  .livroA{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  padding-top: 5px;
  }

  .livro1{
    display: flex;
  flex-direction: column;
  border: 3px solid black;
  text-align: center;
  flex-wrap: wrap;
 }



 .livroB{
  display: flex;
  flex-direction: row;
justify-content: space-evenly;
}

 .infinity{ 
    width: 200px;
    transition: 0.5s;
    transition-duration: 1s;
 }

 .infinity:hover{
  transform: scale(1.2);
  transition: 0.5s;
  transition-duration: 1s;
 }


 nav{
  background-image: linear-gradient(70deg,#b04c459a,#fccfa08f,#6820368e,#6778c294,rgba(46, 31, 207, 0.575));
  gap: 15%;
    font-size: 130%;
    border-radius: 3%;
 border-style: outset;
 display: flex;
 align-items: center;
height: 2em;
padding-left: 1em;
}



.livros{
  margin-left: 5%;
}

nav>p{
    background-color: blanchedalmond;
    width: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
}

nav > a:hover{
    background-color: rgb(42, 61, 165);
    color: white;
    }
 
nav > a{
    text-decoration: none;
    color: rgb(8, 8, 8);
}



body::-webkit-scrollbar {
  width: 11px;               
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(70deg,rgb(106, 106, 172),white,rgb(0, 30, 128)
  );       
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(235, 240, 225);    
  border-radius: 20px;       
  border: 3px solid rgb(17, 0, 255,47,255);  
}

@keyframes cores {
  0% {
    color: rgb(192, 182, 41);
}
25%{
  color: #be27cc;
}
50%{
  color: #1515d4;
}
75%{
  color: #5c0080;
}
100% {
  color: rgb(192, 182, 41);
}
}


.saudacao,.horario{
  position: relative;
  top: 1em;
  left: 1em;
}


  .relogio{
        width: 50%;
        margin: auto;
        text-align: ;
        font-size: 150%;
        animation: cores 7s  infinite; 
padding-right: 45%;
  }

footer{
display: flex;
align-items: center;
}

.nomes{
font-weight: bold;

}