/** {
    padding: 0;
    margin: 0;
}*/


main{
    background-color: rgba(255, 255, 255, 0.753);
    width: 1300px;
   margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;
    padding-left: 5px;
    padding-bottom: 5px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 4px;*/
}

body{
   /*background-image: linear-gradient(45deg,black,aqua,blue);*/
  background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/210330183534-01-neil-degrasse-tyson-restricted.jpg?q=w_4457,h_3090,x_0,y_0,c_fill);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
    text-align: center;
}

li>a{
  color: blue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  text-decoration: underline;
  text-transform: uppercase;
}


a{
  text-decoration: none;
  color: rgb(19, 65, 73)
}

.tk{
  width: 60%;
 height: auto;
  display: block;
  margin: auto;
  padding: auto;
}



nav{
  background-image: linear-gradient(70deg,#1b65d388,#b4bff0a2,#124cb098,#a76f5aa1,#9d9ac693);
    text-align: center;
    font-size: 130%;
    border-radius: 3%;
 border-style: outset;
}

.livros{
    margin-left: 10%;
}

nav>p{
    background-color: blanchedalmond;
    width: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
}

nav > a:hover{
  background-color: rgb(42, 61, 165);
    color: white;
}

nav > a{
    text-decoration: none;
    color: white;
}

@keyframes mover {
  100% {
    transform: scale(1.5);
}
}

div > img.imagem1{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url('meme.png') center/cover;
    animation: mover 3s linear infinite;
}

div > img.imagem2{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



footer>p{
    font-size: 120%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
}


body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background-image: linear-gradient(70deg,rgb(172, 106, 134),rgba(188, 106, 235, 0.815),rgb(0, 30, 128)
    );        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(235, 240, 225);    
    border-radius: 20px;       
    border: 3px solid rgb(17, 0, 255,47,255);  
  }
  p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  section>p{
    font-size: 107%;
  }

  section>h1{
    font-size: 230%;
  }

  section>h2{
    font-size: 190%;
  }


  @keyframes cores {
    0% {
      color: rgb(23, 188, 218);
  }
  25%{
    color: #be27cc;
  }
  50%{
    color: #1515d4;
  }
  75%{
    color: #5c0080;
  }
  100% {
    color: rgb(23, 188, 218);
}
}


  .relogio{
        width: 50%;
        margin: auto;
        text-align: center;
        font-size: 150%;
        animation: cores 7s  infinite; 
  }

  footer{
    display: flex;
    align-items: center;
  }

  .nomes{
    font-weight: bold;
    
  }